.field {
  display: inline-block;
  /*outline: 1px solid #ddd;*/
  border-radius: 8px;
  border: 1px solid #cce;
  background-color: #fafafd;
  padding: .8em;
  margin-left: 1px;
  margin-top: 1px;
}

.field input {
  border: none;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #028;
  padding: .2em .6em;
  border-radius: 5px;
  font-size: 1.5em;
  font-family: 'Ubuntu Mono', monospace;
}

.field-label {
  letter-spacing: 0.07em;
  color: #028;
  display: block;
  margin: 0;
  font-size: 1.2em;
}

.delete {
  float: right;
  color: #aaaaba;
  margin: -.35em -.35em 0 0;
  padding: 0;
}

.delete:hover {
  color: #6666fa;
}

.delete:active {
  color: #028;
}

.field-toggle {
  margin-top: 0;
  top: -2px;
  bottom: 0px;
  position: relative;
}