.horizontal-list {
  width: 10em;
  background-color: #fafafd;
  border-right: 1px solid #aae;
  overflow: hidden;
}

.shadow-right {
  box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

.nav-pills a {
  font-size: 1.2em;
}

.nav-pills li a {
	color: #028
}

.nav-pills li.active a:hover {
  background-color: #99c;
  color: #fff
}

.nav-pills li.active a {
  background-color: #028;
  color: #fff
}